<section class="bg-white p-6 w-fit flex flex-col h-full justify-center items-center">
    <h3 class="text-xl font-semibold text-center text-[#03295C]">FILTERS</h3>
    <div class="flex flex-row md:flex-col flex-wrap gap-4 justify-center items-center my-4">
        <app-filter-select-tag *ngFor="let item of filterblockservice.getFilterList()" [field]="item.field" [dropDownData]="item.listData" [dropDownName]="item.name"></app-filter-select-tag>
    </div>
    <button class="text-md mt-2 border-2 border-[#03295C] py-1 px-10 hover:bg-[#03295C] hover:text-white active:scale-[0.98] duration-300 ease-in-out font-medium text-center text-[#03295C]" (click)="search()">Search</button>

</section>
